
    
<% include ./partials/homeheader %>
 <div class="jumbotron">
  <h1 class="display-4">CRM</h1>
  <p class="lead mb-5 mt-6">Ici, vous pourrez déposer et suivre l'état de traitement de vos plaintes </p>
 
  <a class="btn btn-primary btn-lg" href="/plaint" role="button">Consulter les plaintes en cours</a>
</div>
      
</div>




   
   <!--<div class="container second mt-2 ">     -->
   <!--     <div class="row text-center crm ">-->
   <!--         <div class="col-md-4 crmimage"><hr></div>-->
   <!--         <div class="col-md-8">-->
   <!--             <i class="fas fa-archive fa-3x plainte"></i>-->
   <!--             <h1 class="display-4 mt-4">Aperçu des Plaintes</h4>-->
   <!--             <p class="lead"> Le CRM est un moyen de rédévabilité que Concern Worldwide utilise pour ses bénéficiaires, partenaires et staff</p>-->
   <!--             <br>-->
   <!--             <button class ="btn btn-outline-secondary btn-lg mb-5" data-toggle="modal" data-target="#more"> Aperçu des plaintes en cours</button>-->
   <!--             <div class="modal fade" id="more">-->
   <!--                 <div class="modal-dialog">-->
   <!--                     <div class="modal-content">-->
   <!--                     <div class="modal-header">-->
   <!--                         <h5 class="modal-title"> Différents types de plaintes</h5>-->
   <!--                         <button class="close" data-dismiss="modal"><span>&times;</span></button>-->
                            
   <!--                     </div>-->
                        
                
   <!--                 <div class="modal-body">-->
   <!--                     <p>-->
                           
                            
   <!--                     </p>-->
                        
   <!--                 </div>-->
                    
                     
        
   <!--                 </div>-->
   <!--             </div>-->
   <!--         </div>-->
            
         
   <!--     </div>-->
         
     
      
   <!-- </div>-->
    
    
    
   
    
   <!-- </div>-->
  
  



<% include ./partials/footer %>
