 <% include ./partials/header %>   
<h1>Enregistrer une Plainte</h1>

<div class="card">
    <div class="card-header font-weight-bold">
       Nouvelle Plainte
    </div>
    <div class="card-body">

<form  action = "/plaint" method="POST">
    
     <div class="row plaignant">
        
         <div class="col-2 text-muted"> Information sur le plaignant</div>
        
                  <div class="col">
                    <label for="plaignant"> Nom du Plaignant</label>
                    <input class="form-control" type="text" id="plaignant" name="plainte[plaignant_name]" placeholder="Nom du Plaignant" value="" >
                  </div>  
                  
                  <div class="col">
                         <label for="source">Catégorie du Plaignant</label>
                         <select class="form-control" id= "source" name="plainte[source]">
                             <option value="Staff"> Staff</option>
                             <option value="Staff-Partenaire"> Staff des partenaires</option>
                             <option value="Bénéficiaire">Bénéficiaire</option>
                             <option value="Donateur">Donateur</option>
                             <option value="Public">Public</option>
                             <option value="Anonyme">Anonyme</option>
                             <option value="Autre">Autre</option>
                          </select>     
                        
                  </div>
                  
                  <div class="col">
                         <label for="location">Location du Plaignant</label>
                         <select class="form-control" id= "sujet"value ="" name="plainte[location]">
                             <option value="Bujumbura">Bujumbura</option>
                             <option value="Cibitoke"> Cibitoke</option>
                             <option value="Kirundo"> Kirundo</option>
                             <option value="Bubanza">Bubanza</option>
                             
                          </select>     
                        
                   </div>
                   
                   
    
    </div>    
    
    <div class="row plainte">
        
         <div class="col-2 text-muted">
          Plainte     
             
         </div>
         
         
       <div class="col">
                         <label for="sujet_plainte"> Sujet de la plainte</label>
                         <select class="form-control" id= "sujet"value ="" name="plainte[sujet]">
                            <option value="Comportement d'un staff"> Comportement d'un staff</option>
                             <option value="Qualité de notre travail"> Qualité de notre travail</option>
                             <option value="Qualité de nos procédures"> Qualité de nos procédures</option>
                             <option value="Qualité des informations fournis">Qualité des informations fournis</option>
                             <option value="Le travail de nos partenaires">Le travail de nos partenaires</option>
                             <option value="Fraude">Fraude</option>
                             <option value="Les avantages du Staff"> Les avantages du Staff</option>
                          </select>     
                        
        </div>  
        
        
        
        <div class="col">
                       
                        <label for="datedesoummission">Date de soumission de la plainte</label>
                        <input class="form-control" type="date" id="datesoumission" name="plainte[date_soumission]" value="" >
                   
        </div>
        
       
        
       
        
         
    
    
    </div>
    
     <div class="row">
            
            <div class="col offset-2 h-100px">
                
               
            
         <label for="description"> Description de la plainte</label>
         <textarea class="form-control"  id="description" name="plainte[description]"> </textarea>
         
        
                
            </div>
            
            
        </div>
    
    <div class="row">
        
        <div class="col-2 text-muted">Décision comité </div>
        
        <div class="col">
          <label for="datereunion"> Date de Reunion CRM</label>
        <input class="form-control" type="date" id="datereunion" name="plainte[date_reunion]" >
        </div>        
        
         <div class="col"> 
         
                 <label for="assigned"> Plainte pour traitement assigné à :</label>
                <select class="form-control" id= "assigned" name="plainte[assigned]">
                <% allUsers.forEach(function(user){%>
                <option value="<%= user.username %>"> <%= user.username %> </option>
                <% }); %>
                </select>
        </div>
        
        
    </div>
    
    <div class = "row mb-4">
        
        <div class="col-3  offset-2">
             
              <label for="status"> Status de la plainte</label>
              <select class="form-control" id="status" name="plainte[status]" value="">
                  <option class="valable">Valable</option>
                  <option class="valable"> Non Valable</option>
              </select>
              
             
        </div>
        
    </div>
    
     <div>
          <button  type=" submit" class=" btn btn-primary btn-block"> Déposer Plainte</button>
     </div>
            
              
        
          
    
</form>


     </div>   
    </div>
   <a href="/plaint"> Retour</a> 

<% include ./partials/footer %>
    

