
/* color: #007B75*/

/* #00734a; */
:root{
    
    
    --mainGreen:
    --mainOrange:;
    --mainLightGreen:;
    --mainpurple:rgba(119, 119, 199, 0.7);
    
    
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(23, 84, 84);
  
    color:rgb(255, 255, 255);
  
    
}

.benef{
    
     background:linear-gradient(
      rgba(7,57,60, 0.7), 
      rgba(7,57,60, 1)
    ),url('img/52.jpg');
    background-size:cover;
    height:75vh;
    background-position: top left;
    background-repeat: no-repeat; 
    color:gray;
  
    

}

.crm{
    margin-top:20px;
    background:linear-gradient(rgba(7,57,60, 1),rgba(119, 119, 199, 0.7));

}

hr {
   
    border-color:#D64933;
    display:inline-block;
    width:300px;
    animation:hranimation 2s ease-in;
    animation-fill-mode:forwards;
    
    
   
  
}

.divider{
    
   margin-top:50px;
    
}

i .plainte{
    border:1px rgba(119, 119, 199, 0.7) solid ;
    padding:10px;
    border-radius:50px;
    color:white;
     animation:iconanimation 2s ease-in both;  
    
}


@keyframes iconanimation{
    
    0%{
        
        transform: translateX(-250px);
        opacity:0;
        
    }
    
    100%{
        
        transform : translateX(13px);
        opacity:1;
        
    }
    
    
    
}




@keyframes hranimation{
    
    0%{
        opacity:0;
        transform:translateX(-300px);
        
    }
    
    100%{
        
        transform:translateX(30px);
        opacity:1;
    }
    
}

.crmimage{
   background:linear-gradient(
      rgba(7,57,60, 1), 
      rgba(7,57,60, 0.8)
    ),url('img/crm.jpg');
    height:480px;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
}

row .list{
    
    height:100%;
}

#calendar{
    
    background-color: RGBA(0, 115, 74,0.7);
    max-width:900px;
    margin:40px auto;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}


.logo{
    width:100px;
    padding-top: 5px;
}




.cal{
    background:linear-gradient(
      rgba(7,57,60, 0.7), 
      rgba(7,57,60, 1)
    ),url('img/82.jpg'); 
    background-position: cover;
    
}


.sidebar {
    background: linear-gradient(
      rgba(0, 115, 74, 0.9), 
      rgba(0, 115, 74, 0.9)
    ),url('img/crm.jpg');
    
    background-position:center left;
    background-size:cover;
    height:900px;
   
}

.bg-light{
    background-color:transparent!important;
    
}
.navbar-light .navbar-brand{
    color:#43AA8B!important;
}

.navbar-light .navbar-nav .nav-link{
    color:#43AA8B!important;
}

.jumbotron {
   background-color: transparent;
   margin-left: 100px;
   border-color: transparent;
   text-align: left;
   padding-bottom: 200px !important;
}



.btn-primary{
    background-color:rgb(0,115,74)!important;
    border-color:rgb(0,115,74)!important;
}
.btn-success{
    background-color: #3E2F5B!important;
    border-color:#3E2F5B!important;

}
.btn-info{
    background-color: #EF3054!important;
    border-color:#EF3054!important;
}
h1{ 
    
    color:white;
}




/*.box .sidebar{*/
/*    height: 400px;*/
/*}*/

/*.container-fluid{*/
/*    padding-bottom:100px !important ;*/
/*}*/

.display-4{
    color:#D64933 !important;
}

.benef2{
    
    background: linear-gradient(
      rgba(0, 115, 74, 0.9), 
      rgba(0, 115, 74, 0.9)
    ),url('img/65.jpg');
    
    
}
.inside{
    
    height: 500px;
}
 
 .card{
     
     
     color:#222;
     
    
 }
 
 .card-header{
     background-color:#ffffff;
     color:white;
  
 }
 
 .card-body{
     background-color:white;
     color:#222;
 }

 
input{
    
    border-bottom-color: #3E2F5B;
    border-top:none;

}
 
 
 
 .footer{
     width:100%;
     background:url('img/back.png');
     background-size:100% 100%;
     background-position: top;
     background-repeat: no-repeat;
     height:30px;
     text-align:center;
     
   
 }
 
 
 .row .login{
     height: 80vh;
 }
 
 .showitem{
     
     padding-bottom: 10px;
 }
 

 
 .showitem{
     
 
     width:300px;
     padding-bottom: 20px
 }
 
 label{
     
     font-size: 10px;
     color:rgba(119, 119, 199, 0.7);
 }
